<p id="notice"></p>
   <div class="center-block">
     <div class="set_center_outer">
      <div class = " mx-auto col-12 col-lg-8 col-xl-4">
        <br>
        <br>
        <br>
          <div class="h4" "d-flex align-items-center">
          このサイトは。あなたの旅の思い出の部屋を<br>
          皆でシェアするサイトです。<br>あなたが出会ったこんな部屋<br>
          あんな部屋を教えてください。
          </div>
        </div>
      </div>




